@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#fullscreen-video{
  position:fixed;
  z-index: -1;
}
@media(min-aspect-ratio: 16/9){
  #fullscreen-video{
    width:100%;
    height:auto;
  }
}
@media(max-aspect-ratio: 16/9){
  #fullscreen-video{
    width:auto;
    height:100%;
  }
}
@media(max-width:767px){
  #fullscreen-video{
    display:none
  }
  body{
    display:block;
    background-image:url('https://www.1zoom.me/big2/352/314068-Lastochka.jpg');
    background-size: cover;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.inicio{
  position:absolute;
  top:50%;
  left:20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inicio h1{
  font-family: 'Courgette', cursive;
  font-size:8vh;
  color:rgb(241, 241, 241);
}
.botoninicio {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(1,40,83);
  border:none;
  color: #FFFFFF;
  text-align: center;
  font-size: 4vh;
  padding: 3vh;
  width: 15vw;
  transition: all 0.5s;
  margin: 5px;
}

.botoninicio:hover{
  background-color: transparent;
  border:3px solid rgb(1,40,83);
}
.Busqueda{
  position: fixed;
  display: flex;
  flex-direction: column;
  width:45%;
}
.List{
  position: absolute;
  top: 5%;
  left: 45%;
}