.Cont{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    position : absolute;
	width : 100%;
	height : 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Cont a{
    text-decoration: none;
}
.Carta{
    width: 23vw;
    height:65vh;
    border-radius:8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow:hidden;
    text-align:center;
    transition: all 0.25s;
    background-color:rgb(1,40,83);
    opacity:1;
    margin:auto;
}
img{
    width:100%;
    height:55%;
}
span{
    text-align:center;
    font-size:4vh;
    color:#ffffff;
    margin-top:0.5em;
    font-weight: 0.5em;
    text-decoration: none;
}
.Carta p{
    padding:0 1rem;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    color:#ffffff;
}